<mat-toolbar><h2>Git Clone</h2></mat-toolbar>
<br>
<div class="search-user">
    <form class="search-user" ngForm>
        <!-- <mat-form-field class="input">
          <label>Enter User:</label>
          <input matInput type="text">
        </mat-form-field> -->
        <br>
        <button mat-raised-button (click)="searchUser()">Search</button>
    </form>
      
</div>

<!-- <table>
  <tr>
    <th>Username</th>
    <th>View Repo</th>
  </tr>

  <tr>
    <td>{{userNames}}</td>
  </tr>
</table> -->
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="list-users" *ngFor= "let user of users.userNames">
     <mat-panel-title (click)="get_repos()"> {{user}}</mat-panel-title>
     <!-- <mat-panel-description>{{stat}}</mat-panel-description> -->
     <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>

